<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crudin</title>
</head>

<body>
    <h1> Game Quotes Library </h1>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
    </form>

    <div>
        <h2>Update It!</h2>
        <button id="nuke">UPDATE</button>
    </div>

    <h2> Quotes </h2>

    <ul class="quotes">
        <!-- loop through quotes and convert objects to readable text -->
        <% for(let i=0;i < quotes.length; i++) {%>
        <li calss="quote">
            <!-- Output name from iterated quote object -->
            <span><%= quotes[i].name %></span>:
            <span><%= quotes[i].quote %></span>
        </li>
        <% } %>
    </ul>
</body>

<script src="/main.js"></script>

</html>
